*, *::before, *::after {
  box-sizing: border-box;
}

html,body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}


.menuBar {
    position: absolute;
    top: 0px;
    height: 30px;
    width: 100%;
    background-color: #12121C;
    border: 1px solid #242438;
}

.menuList {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.menuItem {
    height: 30px;
    margin: 0px;
    padding: 0px;
}
.menuItem.left {
    float: left;
}
.menuItem.right {
    float: right;
}

.menuButton {
    height: 30px;
    font-size: 17px;
    color: #ffffff;
    background-color: #12121C;
    border: 1px solid #242438;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.menuButton.large {
    width: 90px;
}
.menuButton.small {
    width: 45px;
}
.menuButton:hover {
    background-color: #242438;
}
.menuButton:active {
    background-color: #000000;
}


.subMenuBar {
    width: 0px;
    display: none;
    z-index: 1;
}

.subMenuList {
    list-style: none;
    width: fit-content;
    margin: 0px;
    padding: 0px;
    overflow: visible;
    border: 1px solid #242438;
    background-color: #12121C;
}

.subMenuItem {
    height: 30px;
    margin: 0px;
    padding: 0px;
}

.subMenuButton {
    height: 30px;
    width: 135px;
    font-size: 17px;
    color: #ffffff;
    background: none;
    border: 0px;
    margin: 0px;
    padding: 5px;
    text-align: left;
}
.subMenuButton:hover {
    background-color: #242438;
}
.subMenuButton:active {
    background-color: #000000;
}


.bottomBar {
    position: absolute;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background-color: #12121C;
    border: 1px solid #242438;
}

.bottomBarText {
    font-size: 17px;
    color: #ffffff;
    line-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
}
.bottomBarText img {
    height: 30px;
}
.bottomBarText.left {
    float: left;
}
.bottomBarText.right {
    float: right;
}


.popup {
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: auto;
    background-color: #242434;
    border: 1px solid #A9A9C7;
    display: none;
    transform: translate(-50%, -50%);
    padding: 5px;
}

.popupText {
    font-size: 17px;
    color: #ffffff;
    line-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
}

.popupButton {
    border-radius: 10px;
    height: 30px;
    width: auto;
    font-size: 17px;
    border: 1px solid #A9A9C7;
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    text-align: center;
    float: right;
}
.popupButton.primary {
    background-color: #a7a7fd;
    color: #000000;
}
.popupButton.secondary {
    background-color: #12121C;
    color: #ffffff;
}
.popupButton.primary:hover {
    background-color: #7171FF;
}
.popupButton.secondary:hover {
    background-color: #242438;
}
.popupButton.primary:active {
    background-color: #a7a7fd;
    border: 1px solid #000000;
}
.popupButton.secondary:active {
    background-color: #000000;
    color: #ffffff;
}

.toolBar {
    border-radius: 10px;
    position: absolute;
    top: 35px;
    left: 5px;
    height: auto;
    width: 190px;
    background-color: #12121C;
    border: 1px solid #242438;
    display: block;
}

.toolBarTop {
    width: 100%;
}

.toolBarText{
    margin: 0px;
    font-size: 17px;
    color: #ffffff;
    line-height: 30px;
    display: flex;
    align-items: center;
}
.toolBarText.large {
    width: auto;
}
.toolBarText.small {
    width: 100%;
    padding: 0px;
}
.toolBarText.top {
    padding-left: 10px;
}

.toolBarTop {
    border-radius: 10px;
    border: 1px solid #242438;
    background-color: #12121C;
    width: 100%;
    height: 30px;
}

.toolBarContent {
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.toolBarGrid {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    column-gap: 10px;
}

.toolBarInput {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    height: 30px;
    font-size: 17px;
    border: 1px solid #242438;
    background-color: #000000;
    color: #A9A9C7;
}
.toolBarInput.small {
    width: 100%;
}
.toolBarInput.large{
    width: 100%;
}
.toolBarInput:focus {
    outline: 2px solid #A9A9C7;
}